export INPUT_METHOD=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

# fcitx5 &
nitrogen --restore &
# these are for my dwm setup. How do I set these conditionally?
# slstatus &
# picom &
